.w3-quarter{
    width: 100%;
    text-align: justify;
   
}
.w3-quarter h2{
    text-align:center;
}
.w3-quarter p{
    padding: 20px 10px;
}
.parrafo1{
    width: 50%;
    float: left;
    
}
.parrafo2{
    width: 50%;
    float: right;

}
